.Counter {
    display: grid;
    grid-template-columns: 15% 65% 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Counter .ant-input{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    height: 35px !important;
    border : none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    z-index: 1;
}

.Counter .counter__button{
    width: 100%;
    min-width: 35px;
    max-width: 40px;
    height: 35px;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index:2;
}

.Counter .counter__button.counter__button--plus{
    border-radius: 0 5px 5px 0;
    margin-right: auto;
}

.Counter .counter__button.counter__button--minus{
    border-radius: 5px 0 0 5px;
    margin-left: auto;
}

