.Counter {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Counter .ant-input{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    height: 35px !important;
    border : none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.Counter .counter__button{
    width: 100%;
    height: 35px;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Counter .counter__button.counter__button--plus{
    border-radius: 0 5px 5px 0;
}

.Counter .counter__button.counter__button--minus{
    border-radius: 5px 0 0 5px;
}

